@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import "tailwindcss";

@theme {
  --font-roboto: 'Roboto';
}


body {
    background-color: rgb(222, 235, 253);
    font-family: 'Roboto', sans-serif;
}